* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

h1,
h2 {
    font-family: "Merriweather", serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #bdae82;
    transition: 0.3s;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-bg-dark);
}

.container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0;
    background-color: black;
}

.header {
    height: 5vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 60px;
}

.logo img {
    width: 50px;
    cursor: pointer;

}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    transition: 0.3s;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.nav-link {
    margin-right: 50px;
}

.active {
    color: #bdae82;
    border-bottom: 2px solid #bdae82;
    padding-bottom: 3px;
}



.hero {
    background-image: url(assets/img/forest.jpg);
    height: 85vh;
    position: relative;
}

.play {
    background-image: url(assets/svg/play.svg);
    height: 160px;
    width: 160px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: 0.3s;
}

.pause {
    background-image: url(assets/svg/pause.svg);
    height: 160px;
    width: 160px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: 0.3s;
}

.play:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.footer .container {
    padding: 15px 0;
    background-color: black;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
}

.footer-git-wrap {
    color: white;
}

.footer-git-wrap span {
    margin-right: 20px;
}

.footer-rs-wrap img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rss {
    height: 40px;
}

.rss:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    transition: 0.3s;
}

.git-link,
.rs-link {
    text-decoration: none;
    transition: color 0.5s;
    color: white;
}


@media (max-width: 768px) {
    .header-container {
        padding: 10px 10px;
    }

    .nav-link {
        margin-right: 15px;
    }
}

@media (max-width: 600px) {

    .nav-link {
        margin-right: 10px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {

    .nav-link {
        margin-right: 10px;
        font-size: 14px;
    }
}
